[Unit]
Description=Refresh SMART data for Noctalia

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=noctalia-smart-monitor.service

[Install]
WantedBy=timers.target
